@font-face {
  font-family: ExoRegular;
  src: url('../fonts/Exo2-Regular.otf');
}
@font-face {
  font-family: ExoLight;
  src: url('../fonts/Exo2-Light.otf');
}
@font-face {
  font-family: ExoMedium;
  src: url('../fonts/Exo2-Medium.otf');
}
@font-face {
  font-family: ExoBold;
  src: url('../fonts/Exo2-Bold.otf');
}
@font-face {
  font-family: RobotoLight;
  src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: RobotoRegular;
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: RobotoBold;
  src: url('../fonts/Roboto-Bold.ttf');
}
/*************************** colors   *********************************/
/************************** styles ********************************/
body {
  font-family: "ExoRegular", Calibri, Arial, sans-serif;
  font-size: 12px;
  color: #fffff;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.containerFull {
  width: 1300px;
  margin: 0 auto;
}
.containerFullBig {
  width: 100%;
  background-color: #ffffff;
}
.row > * {
  display: inline-block;
}
.button {
  width: 121px;
  height: 45px;
  background: #ff6a5a;
  font-family: "ExoBold";
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 0px 0px #ba4d41;
  -moz-box-shadow: 0px 3px 0px 0px #ba4d41;
  box-shadow: 0px 3px 0px 0px #ba4d41;
}
.button:hover {
  background-color: #ff513d;
}
.button.blue {
  background-color: #4db7ff;
  -webkit-box-shadow: 0px 3px 0px 0px #398abf;
  -moz-box-shadow: 0px 3px 0px 0px #398abf;
  box-shadow: 0px 3px 0px 0px #398abf;
}
.button.blue:hover {
  background-color: #26a8ff;
}
.button.violet {
  background-color: #d76cf1;
  -webkit-box-shadow: 0px 3px 0px 0px #a151b5;
  -moz-box-shadow: 0px 3px 0px 0px #a151b5;
  box-shadow: 0px 3px 0px 0px #a151b5;
}
.button.green {
  background-color: #18c770;
  -webkit-box-shadow: 0px 3px 0px 0px #118a4d;
  -moz-box-shadow: 0px 3px 0px 0px #118a4d;
  box-shadow: 0px 3px 0px 0px #118a4d;
}
.button.yellow {
  background-color: #edb640;
  -webkit-box-shadow: 0px 3px 0px 0px #b59245;
  -moz-box-shadow: 0px 3px 0px 0px #b59245;
  box-shadow: 0px 3px 0px 0px #b59245;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
hr {
  color: #555;
  /*для IE */
  background-color: #555;
  /*для Firefox, Opera, Safari*/
  border: 0px none;
  height: 1px;
  /* высота 1px IE, Firefox, Opera, Safari */
  clear: both;
  /* для очистки, если тег идет после float елемента */
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
}
h1 {
  font-family: "ExoBold";
  font-size: 36px;
  color: #22558b;
  text-transform: uppercase;
  text-align: center;
  margin: 80px auto 40px;
}
.triangle-down {
  width: 0px;
  height: 0px;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 12px solid #4db7ff;
  margin: 0 auto;
}
/******************************  packets ******************************/
.packet {
  position: relative;
  background-color: #ffffff;
  text-align: left;
  display: inline-block;
  border: 1px solid;
  border-top: 6px solid;
  vertical-align: top;
}
.packet h2 {
  font-family: "ExoLight";
  font-size: 24px;
  text-transform: uppercase;
}
.packet ul {
  padding: 0;
}
.packet ul li {
  font-family: "RobotoLight";
  font-size: 13px;
  padding-left: 25px;
  padding-bottom: 7px;
  padding-top: 7px;
  border-bottom: 2px dotted #d0dce6;
  list-style: none;
  background-repeat: no-repeat;
  background-position: 5px 12px;
}
.packet ul li:last-child {
  border: none;
}
.packet ul li span {
  position: absolute;
}
.packet p {
  font-family: "ExoLight";
  font-size: 14px;
  margin-top: 0;
}
.packet.packetLeft,
.packet.packetRight {
  width: 290px;
  margin-top: 18px;
}
.packet.packetLeft h2,
.packet.packetRight h2 {
  margin-top: 39px;
}
.packet.packetLeft .button {
  margin-left: 34px;
}
.packet.packetLeft h2 {
  margin-left: 33px;
}
.packet.packetLeft h3,
.packet.packetLeft p,
.packet.packetLeft hr {
  margin-left: 30px;
}
.packet.packetLeft ul {
  margin-left: 27px;
  width: 239px;
}
.packet.packetLeft ul li span {
  left: 257px;
}
.packet.packetLeft ul li span .fa {
  background: #ffffff;
  border-radius: 50%;
}
.packet.packetRight .button {
  margin-left: 27px;
}
.packet.packetRight h2 {
  margin-left: 18px;
}
.packet.packetRight h3 {
  margin-left: 18px;
}
.packet.packetRight p {
  margin-left: 18px;
}
.packet.packetRight ul {
  margin-left: 13px;
  width: 239px;
}
.packet.packetRight ul li span {
  left: 243px;
}
.packet.packetRight hr {
  margin-left: 18px;
}
.packet.packetCenter {
  width: 361px;
  height: 938px;
  margin-left: -4px;
  margin-right: -4px;
}
.packet.packetCenter h2 {
  margin-top: 49px;
  margin-left: 59px;
}
.packet.packetCenter ul {
  width: 252px;
  margin-left: 52px;
}
.packet.packetCenter ul li span {
  left: 293px;
}
.packet.packetCenter .button {
  margin-left: 59px;
}
.packet.packetCenter hr,
.packet.packetCenter h3,
.packet.packetCenter p {
  margin-left: 59px;
}
.packet .packetPrice {
  position: absolute;
  bottom: 0;
  height: 220px;
  width: 100%;
}
.packet .packetPrice hr {
  width: 50px;
  height: 1px;
}
.packet .packetPrice h3 {
  font-family: "ExoBold";
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 6px;
}
.packet .packetPrice .button {
  padding-top: 10px;
  height: 35px;
  margin-top: 32px;
}
/************************* tabs  *************************************/
/* Базовый контейнер табов */
.tabs {
  width: 100%;
  padding: 0px;
  text-align: center;
}
.tabs section {
  display: none;
  background-color: #FFF;
  background-image: url(../images/layout/mansr.png);
  background-repeat: no-repeat;
  margin-top: -3px;
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}
.tabs section .container {
  margin-top: 42px;
}
.tabs section hr {
  margin: 0px auto 0px;
  width: 1151px;
  height: 5px;
}
.tabs section .packet {
  padding-bottom: 240px;
}
.tabs section .packet li {
  background-image: url(../images/layout/spritesheet3.png);
  ackground-repeat: no-repeat;
}
.tabs section.blue {
  background-position: -5px 190px;
}
.tabs section.blue .triangle-down {
  border-top: 12px solid #4db7ff;
}
.tabs section.blue hr {
  background-color: #4db7ff;
  color: #4db7ff;
}
.tabs section.blue .packet {
  border-color: #bfe6ff;
}
.tabs section.blue .packet li {
  background-position: -20px -8px;
}
.tabs section.blue .packet h2,
.tabs section.blue .packet h3,
.tabs section.blue .packet p {
  color: #4db7ff;
}
.tabs section.blue .packet.packetLeft,
.tabs section.blue .packet.packetRight {
  background-color: #f2faff;
  height: 710px;
}
.tabs section.blue .packet.packetCenter {
  border-top-color: #4db7ff;
  height: 728px;
}
.tabs section.blue .packet .fa {
  color: #4db7ff;
}
.tabs section.blue .selectCMS .packetCenter {
  height: 318px;
}
.tabs section.blue .selectCMS .packetRight,
.tabs section.blue .selectCMS .packetLeft {
  height: 300px;
}
.tabs section.red {
  background-position: -2405px 190px;
}
.tabs section.red .triangle-down {
  border-top: 12px solid #ff6a5a;
}
.tabs section.red hr {
  background-color: #ff6a5a;
  color: #ff6a5a;
}
.tabs section.red .packet {
  border-color: #ffc4be;
}
.tabs section.red .packet li {
  background-position: -20px -58px;
}
.tabs section.red .packet h2,
.tabs section.red .packet h3,
.tabs section.red .packet p {
  color: #ff6a5a;
}
.tabs section.red .packet.packetLeft,
.tabs section.red .packet.packetRight {
  background-color: #fff2f1;
  height: 910px;
}
.tabs section.red .packet.packetCenter {
  border-top-color: #ff6a5a;
  height: 928px;
}
.tabs section.red .packet .fa {
  color: #ff6a5a;
}
.tabs section.red .button {
  background-color: #4db7ff;
  -webkit-box-shadow: 0px 3px 0px 0px #398abf;
  -moz-box-shadow: 0px 3px 0px 0px #398abf;
  box-shadow: 0px 3px 0px 0px #398abf;
}
.tabs section.red .button:hover {
  background-color: #26a8ff;
}
.tabs section.red .selectCMS .packetCenter {
  height: 318px;
}
.tabs section.red .selectCMS .packetRight,
.tabs section.red .selectCMS .packetLeft {
  height: 300px;
}
.tabs section.violet {
  background-position: -3605px 190px;
}
.tabs section.violet .triangle-down {
  border-top: 12px solid #d76cf1;
}
.tabs section.violet hr {
  background-color: #d76cf1;
  color: #d76cf1;
}
.tabs section.violet .packet {
  border-color: #f4bfff;
}
.tabs section.violet .packet li {
  background-position: -20px -108px;
}
.tabs section.violet .packet h2,
.tabs section.violet .packet h3,
.tabs section.violet .packet p {
  color: #d76cf1;
}
.tabs section.violet .packet.packetLeft,
.tabs section.violet .packet.packetRight {
  background-color: #fdf3ff;
  height: 930px;
}
.tabs section.violet .packet.packetCenter {
  border-top-color: #d76cf1;
  height: 948px;
}
.tabs section.violet .packet .fa {
  color: #d76cf1;
}
.tabs section.violet .selectCMS .packetCenter {
  height: 318px;
}
.tabs section.violet .selectCMS .packetRight,
.tabs section.violet .selectCMS .packetLeft {
  height: 300px;
}
.tabs section.green {
  background-position: -1205px 190px;
}
.tabs section.green hr {
  background-color: #18c770;
  color: #18c770;
}
.tabs section.green .packet {
  width: 746px;
  padding: 0 100px;
  border-color: #18c770;
  min-height: 768px;
}
.tabs section.green h2 {
  color: #18c770;
  margin-top: 34px;
}
.tabs section.green .triangle-down {
  border-top: 12px solid #18c770;
}
.tabs section .CMSPrice {
  margin: 0 auto;
  background-image: url("../images/layout/spritesheet2.png");
  background-repeat: no-repeat;
  background-position: 364px -6px;
  font-family: "ExoBold";
  font-size: 20px;
}
.tabs section .CMSPrice.opened {
  background-position: 364px -80px;
}
.tabs section .CMSPrice.button {
  width: 402px;
  height: 39px;
  padding-top: 16px;
  padding-right: 30px;
}
.tabs section .selectCMS {
  display: none;
  margin-top: 40px;
}
.tabs section .selectCMS .packetLeft,
.tabs section .selectCMS .packetRight {
  width: 378px;
  height: 920px;
}
.tabs section .selectCMS .packetCenter {
  width: 382px;
}
.tabs section .selectCMS .packetPrice {
  height: 80px;
}
.tabs section .selectCMS label {
  display: block;
  height: auto;
  background-color: transparent;
  background-image: url("../images/forms/radio.png");
  background-repeat: no-repeat;
  color: #000;
  font-family: "RobotoRegular";
  font-size: 13px;
  font-weight: 300;
}
.tabs section .selectCMS .packetLeft ul li,
.tabs section .selectCMS .packetCenter ul li,
.tabs section .selectCMS .packetRight ul li {
  background-image: none;
  background-position: 0px 10px;
}
.tabs section .selectCMS .packetLeft ul li label,
.tabs section .selectCMS .packetCenter ul li label,
.tabs section .selectCMS .packetRight ul li label {
  display: inline-block;
  margin-bottom: -6px;
  background-position: 0 3px;
}
.tabs section .selectCMS .packetLeft ul li p,
.tabs section .selectCMS .packetCenter ul li p,
.tabs section .selectCMS .packetRight ul li p {
  display: inline-block;
  font-family: "ExoBold";
  font-size: 18px;
  color: #006bb4;
  margin-bottom: 0px;
}
.tabs section .selectCMS .packetLeft ul li p span,
.tabs section .selectCMS .packetCenter ul li p span,
.tabs section .selectCMS .packetRight ul li p span {
  font-size: 13px;
}
.tabs section .selectCMS .packetLeft hr,
.tabs section .selectCMS .packetCenter hr,
.tabs section .selectCMS .packetRight hr {
  margin: 0 auto;
}
.tabs section .selectCMS .packetLeft .button,
.tabs section .selectCMS .packetCenter .button,
.tabs section .selectCMS .packetRight .button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.tabs section .selectCMS .packetLeft input:checked + label,
.tabs section .selectCMS .packetCenter input:checked + label,
.tabs section .selectCMS .packetRight input:checked + label {
  color: #000;
  background-image: url("../images/forms/radio-checked.png");
}
.tabs section .selectCMS .packetRight {
  height: 546px;
}
.tabs section .selectCMS .packetRight ul {
  width: 322px;
  margin-left: 28px;
}
.tabs section .selectCMS .packetRight ul li:first-child {
  background-image: url("../images/cms/dle.png");
}
.tabs section .selectCMS .packetRight ul li:nth-child(2) {
  background-image: url("../images/cms/bitrix.png");
}
.tabs section .selectCMS .packetRight ul li:nth-child(4) {
  background-image: url("../images/cms/umi.png");
}
.tabs section .selectCMS .packetRight ul li:nth-child(7) {
  background-image: url("../images/cms/netcat.png");
}
.tabs section .selectCMS .packetRight ul li label {
  margin-left: 25px;
  padding-left: 30px;
  width: 133px;
}
.tabs section .selectCMS .packetRight ul li p {
  margin-left: 15px;
}
.tabs section .selectCMS .packetRight hr {
  width: 321px;
}
.tabs section .selectCMS .packetLeft {
  height: 546px;
}
.tabs section .selectCMS .packetLeft ul {
  width: 322px;
}
.tabs section .selectCMS .packetLeft ul li:first-child {
  background-image: url("../images/cms/dle.png");
}
.tabs section .selectCMS .packetLeft ul li:nth-child(2) {
  background-image: url("../images/cms/bitrix.png");
}
.tabs section .selectCMS .packetLeft ul li:nth-child(3) {
  background-image: url("../images/cms/umi.png");
}
.tabs section .selectCMS .packetLeft ul li:nth-child(4) {
  background-image: url("../images/cms/netcat.png");
}
.tabs section .selectCMS .packetLeft ul li label {
  margin-left: 25px;
  padding-left: 30px;
  width: 130px;
}
.tabs section .selectCMS .packetLeft hr {
  width: 321px;
}
.tabs section .selectCMS .packetCenter {
  height: 564px;
}
.tabs section .selectCMS .packetCenter ul {
  width: 310px;
  margin-left: 35px;
}
.tabs section .selectCMS .packetCenter ul li:first-child {
  background-image: url("../images/cms/dle.png");
}
.tabs section .selectCMS .packetCenter ul li:nth-child(2) {
  background-image: url("../images/cms/bitrix.png");
}
.tabs section .selectCMS .packetCenter ul li:nth-child(4) {
  background-image: url("../images/cms/umi.png");
}
.tabs section .selectCMS .packetCenter ul li:nth-child(7) {
  background-image: url("../images/cms/netcat.png");
}
.tabs section .selectCMS .packetCenter ul li label {
  width: 142px;
  margin-left: 14px;
  padding-left: 36px;
}
.tabs section .selectCMS .packetCenter ul li p {
  margin-left: 0;
}
.tabs section .selectCMS .packetCenter hr {
  width: 314px;
}
.tabs input {
  display: none;
}
.tabs label {
  display: inline-block;
  margin: 0 5px 0px;
  padding: 0px 0px;
  font-weight: 600;
  text-align: left;
  color: #22558b;
  background: #e6e6e6;
  width: 278px;
  height: 219px;
}
.tabs label > * {
  margin-left: 30px;
}
.tabs label h2 {
  font-family: "ExoBold";
  font-size: 24px;
  text-transform: uppercase;
  height: 60px;
  vertical-align: middle;
  display: table-cell;
  padding-left: 30px;
  padding-top: 30px;
}
.tabs label h3 {
  position: absolute;
  font-family: "ExoLight";
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}
.tabs label p {
  position: absolute;
  font-family: "ExoLight";
  font-size: 14px;
  margin-top: 50px;
}
.tabs label hr {
  width: 50px;
  height: 1px;
  margin-top: 20px;
}
.tabs input:checked + label {
  color: #ffffff;
}
.tabs input:checked + label hr {
  background-color: #ffffff;
}
.tabs input:checked + label.blue {
  background-color: #4db7ff;
}
.tabs input:checked + label.red {
  background-color: #ff6a5a;
}
.tabs input:checked + label.violet {
  background-color: #d76cf1;
}
.tabs input:checked + label.green {
  background-color: #18c770;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
/************************* vertical tabs  *************************************/
/* Базовый контейнер табов */
.vertical-tabs {
  width: 1140px;
  height: 710px;
  padding: 0px;
  text-align: center;
  position: relative;
}
.vertical-tabs section {
  display: none;
  background-color: #FFF;
  background-position: center 182px;
  margin-top: -3px;
  text-align: left;
}
.vertical-tabs section ul li {
  list-style: none;
  border-bottom: 3px dotted #d0dce6;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.vertical-tabs section h2 {
  font-family: "ExoLight";
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 0;
}
.vertical-tabs section p {
  font-family: "RobotoLight";
  font-size: 13px;
}
.vertical-tabs section p.big {
  font-size: 16px;
}
.vertical-tabs section .container {
  margin-top: 42px;
}
.vertical-tabs section hr {
  margin: 0px auto 0px;
  width: 1151px;
  height: 5px;
}
.vertical-tabs section.blue .triangle-down {
  border-top: 12px solid #4db7ff;
}
.vertical-tabs section.blue hr {
  background-color: #4db7ff;
  color: #4db7ff;
}
.vertical-tabs section.blue .packet {
  border-color: #bfe6ff;
}
.vertical-tabs section.blue .packet li {
  background-image: url("../images/layout/check-blue.png");
}
.vertical-tabs section.blue .packet h2,
.vertical-tabs section.blue .packet h3,
.vertical-tabs section.blue .packet p {
  color: #4db7ff;
}
.vertical-tabs section.blue .packet.packetLeft,
.vertical-tabs section.blue .packet.packetRight {
  background-color: #f2faff;
}
.vertical-tabs section.blue .packet.packetCenter {
  border-top-color: #4db7ff;
}
.vertical-tabs section.red .triangle-down {
  border-top: 12px solid #ff6a5a;
}
.vertical-tabs section.red hr {
  background-color: #ff6a5a;
  color: #ff6a5a;
}
.vertical-tabs section.red .packet {
  border-color: #ffc4be;
}
.vertical-tabs section.red .packet li {
  background-image: url("../images/layout/check-red.png");
}
.vertical-tabs section.red .packet h2,
.vertical-tabs section.red .packet h3,
.vertical-tabs section.red .packet p {
  color: #ff6a5a;
}
.vertical-tabs section.red .packet.packetLeft,
.vertical-tabs section.red .packet.packetRight {
  background-color: #fff2f1;
}
.vertical-tabs section.red .packet.packetCenter {
  border-top-color: #ff6a5a;
}
.vertical-tabs section.red .button {
  background-color: #4db7ff;
  -webkit-box-shadow: 0px 3px 0px 0px #398abf;
  -moz-box-shadow: 0px 3px 0px 0px #398abf;
  box-shadow: 0px 3px 0px 0px #398abf;
}
.vertical-tabs section.red .button:hover {
  background-color: #26a8ff;
}
.vertical-tabs section.violet .triangle-down {
  border-top: 12px solid #d76cf1;
}
.vertical-tabs section.violet hr {
  background-color: #d76cf1;
  color: #d76cf1;
}
.vertical-tabs section.violet .packet {
  border-color: #f4bfff;
}
.vertical-tabs section.violet .packet li {
  background-image: url("../images/layout/check-violet.png");
}
.vertical-tabs section.violet .packet h2,
.vertical-tabs section.violet .packet h3,
.vertical-tabs section.violet .packet p {
  color: #d76cf1;
}
.vertical-tabs section.violet .packet.packetLeft,
.vertical-tabs section.violet .packet.packetRight {
  background-color: #fdf3ff;
}
.vertical-tabs section.violet .packet.packetCenter {
  border-top-color: #d76cf1;
}
.vertical-tabs section.green hr {
  background-color: #18c770;
  color: #18c770;
}
.vertical-tabs section.green .packet {
  width: 746px;
  padding: 0 100px;
  border-color: #18c770;
}
.vertical-tabs section.green h2 {
  color: #18c770;
  margin-top: 34px;
}
.vertical-tabs section#vertical-content1,
.vertical-tabs section#vertical-content2,
.vertical-tabs section#vertical-content3,
.vertical-tabs section#vertical-content4 {
  position: absolute;
  top: 0;
  left: 340px;
  width: 800px;
}
.vertical-tabs input {
  display: none;
}
.vertical-tabs label {
  position: absolute;
  font-weight: 600;
  top: 0;
  left: 0;
  text-align: left;
  color: #22558b;
  background: #f2f2f2;
  width: 276px;
  height: 244px;
}
.vertical-tabs label:hover {
  background-color: #e6e6e6;
}
.vertical-tabs label:nth-child(4) {
  top: 264px;
}
.vertical-tabs label:nth-child(6) {
  top: 530px;
}
.vertical-tabs label > * {
  margin-left: 30px;
}
.vertical-tabs label h2 {
  font-family: "ExoBold";
  font-size: 18px;
  text-transform: uppercase;
  height: 60px;
  vertical-align: middle;
  display: table-cell;
  padding-left: 30px;
  padding-top: 30px;
}
.vertical-tabs label h3 {
  position: absolute;
  font-family: "ExoLight";
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}
.vertical-tabs label p {
  position: absolute;
  font-family: "ExoLight";
  font-size: 14px;
  margin-top: 50px;
}
.vertical-tabs label hr {
  width: 50px;
  height: 1px;
  margin-top: 20px;
}
.vertical-tabs .vertical-hr {
  position: absolute;
  height: 774px;
  width: 5px;
  background-color: #4DB7FF;
  top: 0;
  left: 288px;
}
.vertical-tabs .triangle-right {
  width: 0;
  height: 0;
  border-left: 13px solid #4db7ff;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  position: absolute;
  top: 370px;
  left: 293px;
}
.vertical-tabs input:checked + label {
  color: #ffffff;
  width: 288px;
}
.vertical-tabs input:checked + label hr {
  background-color: #ffffff;
}
.vertical-tabs input:checked + label.blue {
  background-color: #4db7ff;
}
.vertical-tabs input:checked + label.red {
  background-color: #ff6a5a;
}
.vertical-tabs input:checked + label.violet {
  background-color: #d76cf1;
}
.vertical-tabs input:checked + label.green {
  background-color: #18c770;
}
#vertical-tab1:checked ~ #vertical-content1,
#vertical-tab2:checked ~ #vertical-content2,
#vertical-tab3:checked ~ #vertical-content3,
#vertical-tab4:checked ~ #vertical-content4 {
  display: block;
}
/***************************  layout  *********************************/
.top {
  height: 830px;
  background-image: url(../images/layout/page-bg3.jpg);
  background-repeat: no-repeat;
  background-position: center -100px;
  background-size: 1980px auto;
}
.top #top {
  padding-top: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
}
.top #top .logo {
  width: 197px;
  height: 56px;
  background-image: url("../images/layout/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.top #top .topMenu {
  margin: 20px 0 0 69px;
  vertical-align: top;
  display: inline-block;
  width: 600px;
}
.top #top .topMenu li {
  font-family: "ExoLight";
  font-size: 13px;
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  margin-right: 29px;
}
.top #top .topMenu li a {
  text-decoration: none;
  border: none;
  color: #ffffff;
}
.top #top .topMenu li a:hover {
  text-decoration: none;
  border-bottom: 3px solid #ff6a5a;
  color: #ffffff;
}
.top #top .phoneTop {
  font-family: "ExoMedium";
  margin-top: 10px;
  display: inline-block;
  margin-left: 15px;
}
.top #top .phoneTop #phoneTop {
  color: #ffffff;
  font-size: 24px;
}
.top #top .phoneTop #phoneTop span {
  color: #ff6a5a;
  font-size: 24px;
}
.top #top .phoneTop #callbackTop {
  font-family: "ExoRegular";
  font-size: 14px;
  text-align: right;
  margin-top: 3px;
}
.top #top .phoneTop #callbackTop a {
  color: #4db7ff;
  font-size: 14px;
  text-decoration: underline;
}
.ctaTop {
  margin-top: 285px;
  width: 1125px;
  margin-left: auto;
  margin-right: auto;
}
.ctaTop h1 {
  font-family: "ExoBold";
  font-size: 48px;
  text-align: center;
  background: rgba(34, 90, 158, 0.8);
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
  padding-bottom: 3px;
}
.ctaTop h1:nth-child(2) {
  width: 405px;
  margin: 0 auto;
}
.ctaTop .button {
  width: 196px;
  height: 38px;
  padding-top: 15px;
  margin: 54px auto;
}
.ctaTop #imgToDown {
  margin: 153px auto 0;
  display: block;
  cursor: pointer;
}
.choosePacket {
  margin-top: 60px;
}
.choosePacket h2 {
  font-family: "ExoBold";
  font-size: 36px;
  color: #22558b;
  text-transform: uppercase;
  text-align: center;
}
.choosePacket hr {
  height: 5px;
  background-color: #4db7ff;
  color: #4db7ff;
}
.weAreAwesome {
  padding: 86px 0;
  background-color: #fafafa;
  text-align: center;
  margin-top: 90px;
}
.weAreAwesome h1 {
  font-family: "ExoBold";
  font-size: 36px;
  color: #22558b;
  text-transform: uppercase;
  text-align: center;
  margin: 0px auto 60px;
}
.weAreAwesome ul {
  padding: 0;
  width: 1300px;
  margin: 0 auto;
}
.weAreAwesome ul li {
  display: inline-block;
  width: 298px;
  height: 140px;
  padding-top: 130px;
  vertical-align: top;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.weAreAwesome ul li:nth-child(2),
.weAreAwesome ul li:nth-child(5) {
  margin-left: 111px;
  margin-right: 111px;
}
.weAreAwesome ul li .circle {
  position: absolute;
  width: 143px;
  height: 143px;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  background-position: 8px 8px;
  top: 0;
  left: 73px;
}
.weAreAwesome ul li .circle:hover {
  border: 1px solid #18c770;
  border-radius: 50%;
}
.weAreAwesome ul li:nth-child(1) .circle {
  background-image: url("../images/awesome/time2.png");
}
.weAreAwesome ul li:nth-child(2) .circle {
  background-image: url("../images/awesome/money2.png");
}
.weAreAwesome ul li:nth-child(3) .circle {
  background-image: url("../images/awesome/team2.png");
}
.weAreAwesome ul li:nth-child(4) .circle {
  background-image: url("../images/awesome/support2.png");
}
.weAreAwesome ul li:nth-child(5) .circle {
  background-image: url("../images/awesome/all-inclusive2.png");
}
.weAreAwesome ul li:nth-child(6) .circle {
  background-image: url("../images/awesome/result2.png");
}
.weAreAwesome h3 {
  font-family: "ExoLight";
  font-size: 24px;
  text-transform: uppercase;
}
.weAreAwesome p {
  font-family: "RobotoLight";
  font-size: 14px;
}
.questions {
  padding: 48px;
  height: 140px;
  background-color: #22558b;
  margin-top: -30px;
}
.questions .button {
  width: 309px;
  padding-top: 12px;
  height: 33px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.questions h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "ExoBold";
  font-size: 36px;
  margin-top: 0;
  color: #ffffff;
}
.services {
  height: 860px;
}
.services h1 {
  font-family: "ExoBold";
  font-size: 36px;
  color: #22558b;
  text-transform: uppercase;
  text-align: center;
  margin: 80px auto 40px;
}
.behold {
  background-color: #e6e6e6;
  overflow: hidden;
  /*
    * single slide style
    */
  /*
    * image caption style
    */
  /*
    * slides control buttons style
    */
}
.behold .tiles {
  height: 855px;
  margin: -11px auto 0;
  width: 1140px;
  position: relative;
}
.behold .tiles .next,
.behold .tiles .prev {
  width: 2080px;
  height: 855px;
  position: absolute;
  top: 0;
}
.behold .tiles .next:hover,
.behold .tiles .prev:hover {
  background-color: #000;
}
.behold .tiles .prev {
  left: -2040px;
}
.behold .tiles .next {
  left: 1140px;
}
.behold .tiles .arrow-next,
.behold .tiles .arrow-prev {
  position: absolute;
  top: 420px;
  cursor: pointer;
}
.behold .tiles .arrow-prev {
  right: 65px;
}
.behold .tiles .arrow-next {
  left: 25px;
}
.behold .tiles ul {
  top: 0;
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
}
.behold .tiles ul:first-child {
  display: block;
}
.behold .tiles ul li {
  z-index: 100;
  position: relative;
  width: 285px;
  height: 285px;
  margin: 0px;
  padding: 0px;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.behold .tiles ul li .caption {
  position: absolute;
  height: 75px;
  bottom: 0;
  font-family: "ExoLight";
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 20px 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 245px;
  z-index: 2;
}
.behold .tiles ul li .bigCaption {
  display: none;
  padding: 20px;
  width: 245px;
  height: 245px;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.behold .tiles ul li .bigCaption h2 {
  font-family: "ExoLight";
  font-size: 18px;
  text-transform: uppercase;
}
.behold .tiles ul li .bigCaption p {
  font-family: "RobotoLight";
  font-size: 13px;
}
.behold .tiles ul li .bigCaption p span {
  font-family: "RobotoBold";
  font-size: 14px;
  text-transform: uppercase;
}
.behold .slider {
  position: relative;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: #fafafa;
}
.behold .slide {
  position: absolute;
  left: 0px;
  top: 0px;
}
.behold .slide a img {
  margin-top: -60px;
}
.behold .caption {
  position: absolute;
  bottom: -42px;
  width: 100%;
  background: #222;
  background: rgba(20, 20, 20, 0.7);
  color: #f7f7f7;
  border-top: 1px solid #404040;
}
.behold .caption p {
  padding: 0px 10px;
}
.behold .navslide {
  position: absolute;
  top: 0;
}
.behold .navslide p span {
  cursor: pointer;
}
.behold .start,
.behold .stop {
  display: none;
}
.stages {
  margin: 120px auto;
}
.stages h1 {
  font-family: "ExoBold";
  font-size: 36px;
  color: #22558b;
  text-transform: uppercase;
  text-align: center;
  margin: 80px auto 40px;
}
.stages img {
  width: 100%;
}
.copyright {
  background-color: #000;
}
.copyright #copyright {
  position: relative;
  margin-top: -3px;
  height: 76px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.copyright #copyright a.logo {
  height: 52px;
  display: inline-block;
  margin-top: 14px;
  margin-left: 100px;
}
.copyright #copyright .s-icons {
  display: inline-block;
  margin-left: 177px;
  padding-top: 25px;
  vertical-align: top;
}
.copyright #copyright .s-icons img {
  margin-right: 8px;
}
.copyright #copyright .rq {
  display: inline-block;
  margin-left: 100px;
  padding-top: 9px;
  vertical-align: top;
  color: #fff;
  width: 260px;
}
.copyright #copyright a.email {
  display: inline-block;
  color: #FFF;
  font-family: "RobotoLight";
  font-size: 16px;
  padding-top: 27px;
  vertical-align: top;
  margin-left: 84px;
}
.copyright #copyright p.phoneBottom {
  display: inline-block;
  color: #FFF;
  font-family: "ExoMedium";
  font-size: 24px;
  padding-top: 0px;
  vertical-align: top;
  margin-left: 50px;
  margin-top: 9px;
}
.copyright #copyright a.callbackBottom {
  display: inline-block;
  color: #4db7ff;
  font-family: "ExoRegular";
  font-size: 14px;
  padding-top: 16px;
  vertical-align: top;
  margin-left: 29px;
  text-decoration: underline;
}
.fixedTop {
  height: 89px;
  display: none;
  z-index: 999;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding-bottom: 5px;
  border-top: 1px solid #dfe6ec;
  border-bottom: 1px solid #dfe6ec;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(223, 230, 236, 0.3);
  -moz-box-shadow: 0px 0px 5px 2px rgba(223, 230, 236, 0.3);
  box-shadow: 0px 0px 5px 2px rgba(223, 230, 236, 0.3);
}
.fixedTop .row {
  width: 1140px;
  margin: 17px auto 0;
  height: 89px;
}
.fixedTop .row > * {
  display: inline-block;
}
.fixedTop .logo {
  width: 197px;
  height: 56px;
  background-image: url("../images/layout/logo1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.fixedTop .topMenu {
  margin: 24px 0 0 69px;
  vertical-align: top;
  display: inline-block;
  width: 600px;
}
.fixedTop .topMenu li {
  font-family: "ExoLight";
  font-size: 13px;
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  margin-right: 29px;
}
.fixedTop .topMenu li a {
  text-decoration: none;
  border: none;
  color: #000;
}
.fixedTop .topMenu li a:hover {
  text-decoration: none;
  border-bottom: 3px solid #ff6a5a;
  color: #000;
}
.fixedTop .phoneTop {
  font-family: "ExoMedium";
  margin-top: 10px;
  display: inline-block;
  margin-left: 15px;
}
.fixedTop .phoneTop #phoneTop2 {
  color: #000;
  font-size: 24px;
}
.fixedTop .phoneTop #phoneTop2 span {
  color: #ff6a5a;
  font-size: 24px;
}
.fixedTop .phoneTop #callbackTop2 {
  font-family: "ExoRegular";
  font-size: 14px;
  text-align: right;
  margin-top: 3px;
}
.fixedTop .phoneTop #callbackTop2 a {
  color: #22558b;
  font-size: 14px;
  text-decoration: underline;
}
.fixedTabs {
  position: fixed;
  top: 100px;
  width: 100%;
  display: none;
}
.fixedTabs #fixedTabs {
  margin: 0 auto;
  width: 1162px;
}
.fixedTabs #fixedTabs label {
  display: inline-block;
  margin: 0 5px 0px;
  padding: 0px 0px;
  font-weight: 600;
  text-align: left;
  color: #22558b;
  background: #e6e6e6;
  width: 278px;
  height: 219px;
  font-family: "ExoBold";
  font-size: 18px;
}
.fixedTabs #fixedTabs label > * {
  margin-left: 30px;
}
.fixedTabs #fixedTabs label p {
  position: absolute;
  margin-top: 50px;
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
}
#overlay .window {
  display: none;
  position: relative;
  width: 360px;
  background-color: #ffffff;
  padding: 50px 50px 40px;
}
#overlay .window input {
  border: 1px solid #dadada;
  width: 340px;
  height: 49px;
  margin-bottom: 15px;
  color: #000;
  font-family: "RobotoLight";
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
#overlay .window .nameCMS {
  width: 198px;
  border: none;
  padding: 0;
}
#overlay .window .priceCMS {
  display: inline-block;
  width: 162px;
  text-align: right;
  font-size: 18px;
  border: none;
  padding: 0;
}
#overlay .window h1 {
  font-size: 20px;
  margin: 5px auto 10px;
}
#overlay .window h2 {
  text-align: center;
}
#overlay .window h3 {
  margin: 20px auto 5px;
  text-align: center;
}
#overlay .breef {
  display: none;
  position: relative;
  width: 900px;
  background-color: #ffffff;
  margin: 0;
  padding: 40px;
  overflow: auto;
}
#overlay .breef .choosenCMS {
  margin-bottom: 20px;
  display: none;
}
#overlay .breef .choosenCMS .nameCMS,
#overlay .breef .choosenCMS .priceCMS {
  display: inline-block;
  font-family: "ExoLight";
  font-size: 18px;
}
#overlay .breef .choosenCMS .nameCMS {
  width: 250px;
  border: none;
}
#overlay .breef .choosenCMS .priceCMS {
  width: 110px;
  text-align: right;
}
#overlay .breef .form-group {
  width: 420px;
  display: inline-block;
}
#overlay .breef .form-group:nth-child(odd) {
  margin-right: 35px;
}
#overlay .breef input,
#overlay .breef textarea {
  border: 1px solid #dadada;
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
  color: #000;
  font-family: "RobotoLight";
  font-size: 16px;
  padding-left: 10px ;
}
#overlay .breef textarea {
  height: 50px;
}
#overlay .breef h1 {
  margin: 0 0 20px;
}
#overlay .breef label {
  margin-bottom: 5px;
  font-size: 14px;
  display: block;
}
#overlay .bigWindow {
  display: none;
  position: relative;
  width: 1000px;
  background-color: #ffffff;
  padding: 20px;
  min-height: 550px;
  overflow: auto;
}
#overlay .bigWindow h1 {
  margin-top: 20px;
}
#overlay .bigWindow img {
  margin: 0;
}
#overlay .close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../images/layout/x.png");
  cursor: pointer;
}
#overlay .button {
  margin: 17px auto -10px;
  height: 35px;
  padding-top: 10px;
  cursor: pointer;
}
.label {
  position: fixed;
  right: -4px;
  top: 300px;
  padding: 5px 5px 5px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  height: 147px;
  width: 30px;
  border-radius: 5px;
  background-image: url("../images/layout/label.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100%;
  cursor: pointer;
  -webkit-box-shadow: 4px 0px 22px 0px #333333;
  -moz-box-shadow: 4px 0px 22px 0px #333333;
  box-shadow: 0px 0px 12px 0px #333333;
}
#breefPage .top {
  height: 100px;
}
#breefPage .breef {
  position: relative;
  width: 900px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 40px;
  overflow: auto;
}
#breefPage .breef .button {
  margin: 0 auto;
  padding-top: 12px;
  height: 32px;
  cursor: pointer;
}
#breefPage .breef .choosenCMS {
  margin-bottom: 20px;
  display: none;
}
#breefPage .breef .choosenCMS .nameCMS,
#breefPage .breef .choosenCMS .priceCMS {
  display: inline-block;
  font-family: "ExoLight";
  font-size: 18px;
}
#breefPage .breef .choosenCMS .nameCMS {
  width: 250px;
  border: none;
}
#breefPage .breef .choosenCMS .priceCMS {
  width: 110px;
  text-align: right;
}
#breefPage .breef .form-group {
  width: 420px;
  display: inline-block;
}
#breefPage .breef .form-group:nth-child(odd) {
  margin-right: 40px;
}
#breefPage .breef input,
#breefPage .breef textarea {
  border: 1px solid #dadada;
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
  color: #000;
  font-family: "RobotoLight";
  font-size: 16px;
  padding-left: 10px ;
}
#breefPage .breef textarea {
  height: 50px;
}
#breefPage .breef h1 {
  margin: 0 0 20px;
}
#breefPage .breef label {
  margin-bottom: 5px;
  font-size: 14px;
  display: block;
}
#payPage .top,
#designPage .top {
  height: 100px;
}
#payPage #robokassa,
#designPage #robokassa {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  min-height: 300px;
}
#payPage form,
#designPage form {
  font-size: 23px;
}
#payPage #OutSum,
#designPage #OutSum {
  height: 34px;
  width: 134px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: right;
  font-size: 23px;
}
#designPage h1 {
  margin: 40px auto 40px;
}
#designPage ul.design {
  padding: 0;
}
#designPage ul.design li {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  opacity: .8;
}
#designPage ul.design li:hover {
  background-color: #e9e9e9;
  cursor: pointer;
  opacity: 1;
}
#designPage ul.design li.min {
  max-height: 500px;
}
#designPage ul.design li.max {
  max-height: 2000px;
}
#designPage ul.design li img {
  width: 900px;
}
#ref {
  position: fixed;
  right: 0;
  top: 0px;
  background-color: #edb640;
  padding: 5px;
}
.tooltipster-blue {
  border-radius: 5px;
  border: 1px solid #4db7ff;
  background: #fff;
  color: #2c2c2c;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
}
.tooltipster-blue .tooltipster-content {
  font-family: "RobotoLight";
  font-size: 12px;
  line-height: 16px;
  padding: 8px 10px;
}
.tooltipster-red {
  border-radius: 5px;
  border: 1px solid #ff6a5a;
  background: #fff;
  color: #2c2c2c;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
}
.tooltipster-red .tooltipster-content {
  font-family: "RobotoLight";
  font-size: 12px;
  line-height: 16px;
  padding: 8px 10px;
}
.tooltipster-violet {
  border-radius: 5px;
  border: 1px solid #d76cf1;
  background: #fff;
  color: #2c2c2c;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
}
.tooltipster-violet .tooltipster-content {
  font-family: "RobotoLight";
  font-size: 12px;
  line-height: 16px;
  padding: 8px 10px;
}
